<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading</title>
    <script type="text/javascript" src = "../User.js"></script>
    <script type="text/javascript" src = "../WebSocketClient.js"></script>
    <script type="text/javascript" src = "../BBmodel.js"></script>
    <script type="text/javascript" src = "../BBview.js"></script>
    <script type="text/javascript" src = "../BBcontroller.js"></script>
    <script type="text/javascript" src = "../blueberry.js"></script>
    <link rel = "stylesheet" href = "../styles/loadingStyle.css"  type = "text/css" />
</head>
<body onload="app.onConnection(app.model)">

    <div class="logo" >
            <img    src="../images/loadingLogo_desc.svg" alt="logo"/>
    </div>

</body>
</html>